/* .back{
    height: 1450px;
}
.main {
    background-color: #eeee;
    width: 1140px;

    margin: 0 auto;
}

.main_b{
    background-color: #eeee;
    

}

.mainbg {
    text-align: center; 
    margin-bottom: 5%;
  }
  
  .mainbg img {
    display: inline-block; 

    width: 40%;
    height: 40%;
  }

.main .mainpage {
    display: flex;




}
.main_a{
    
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 15%;
    margin-right: 12%;
    


} */





.main {
    background-color: #eeee;
}

.main .mainbg {
    text-align: center;
    margin-bottom: 100px;
}

.mainbg img{
    width: 300px;
}

.main .introduce{
    text-align: center;
    
}

.main .mainpage {
    display: flex;
    height: 25%;
}

.main .mainpage .mainpage1 {
    float: right;
    margin-right: 5%;
    width: 25%;
    box-sizing: border-box;
}

.main .mainpage .mainpage2 {
    float: right;
    margin-right: 5%;
    width: 25%;
    box-sizing: border-box;
}

.main .mainpage .mainpage3 {
    float: right;
    margin-right: 5%;
    width: 25%;
    box-sizing: border-box;
} 