body {
    background-color: #EEEEEE;
}

.reservation {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Reservation_title.css */
#reservation_title h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    font-size: 2.5rem;
}

#reservation_title h4 {
    padding-left: 10px;
    font-size: 1.25rem;
    margin-bottom: 50px;
}

/* END Reservation_title.css */

/* 전체 체크박스 디자인 */

input#checkbox {
    display: none;
}

input#checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input#checkbox::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input#checkbox:checked::after {
    content: "✓";
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    opacity: 1;
}

.entire_checkbox {
    margin-left: 70px;
    margin-top: -28px;
}

/* END 전체 체크박스 디자인 */

/* 선택 체크박스 디자인 */

input#select_checkbox {
    display: none;
}

input#select_checkbox {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

input#select_checkbox::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input#select_checkbox:checked::after {
    content: "✓";
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    opacity: 1;
}

/* END 선택 체크박스 디자인 */

.reservation_item {
    display: flex;
    align-items: center;
}

.item_info {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

/* 이미지, 전시명, 가격 */

.reservation_img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.reservation_name {
    width: 250px;
    height: 150px;
    margin-top: -100px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reservation_price {
    margin-left: -250px;
    margin-top: -80px;
}

/* END 이미지, 전시명, 가격 */

/* 인원 수 */

.reservation_number {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 150px;
    margin-right: 70px;
    
}

.reservation_number p {
    margin-left: -70px;
    margin-top: 54px;
    font-size: 1.15rem;
    position: absolute;
    top: -50px;
}
.reservation_number .reservation_btn {
    width: 100px;
    text-align: center;
    background-color: #F1F6F9;
    border: 1px solid #9BA4B5;
    border-radius: 2px;
    width: 2.5rem;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.reservation_number button:hover {
    background-color: #a2a4a2;
}

.reservation_number span {
    margin: 5px;
    display: inline-block;
    width: 2rem;
    text-align: center;
}

/* END 인원 수 */

/* 예약 취소 버튼 */

.reservation_controls {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
}

.cancel_btn {
    margin-left: 30px;
    margin-top: -35px;
}

.cancel_btn button {
    background-color: #F1F6F9;
    border: 1.5px solid #a0a8b6;
    border-radius: 5px;
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.cancel_btn button:hover {
    background-color: #a2a4a2;
}

/* END 예약 취소 */

/* 선택 상품 갯수, 총 금액, 결제 버튼 */

.payment {
    width: 100%;
    margin-left: 650px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.numberOfProduct {
    font-size: 1rem;
    margin-right: 30px;
}

.order_price {
    font-size: 1.5rem;
    margin-right: 30px;
}

.payment_btn button {
    background-color: #F1F6F9;
    border: 1.5px solid #a0a8b6;
    border-radius: 5px;
    color: black;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.payment_btn button:hover {
    background-color: #a2a4a2;
}

.reservation_line {
    border-top: 1px solid #DDDDDD;
    width: 100%;
    margin: 20px 0;
}